spring:
  application:
    name: ecommerce-backend

  datasource:
    url: jdbc:mysql://localhost:3310/ecommerce?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
    username: root          
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate    
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never           

server:
  port: 8081
