spring:
  config:
    import: optional:file:.env

  application:
    name: ecommerce-backend

  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: nhan2004
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update      
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect   

  sql:
    init:
      mode: never

  data:
    redis:
      host: localhost
      port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyentin.22042004@gmail.com
    password: xdlqhuyzuqflmwgd 
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# ✅ Custom app config
app:
  cache:
    # TTL cho cache (tính bằng giây) - mặc định 5 phút (300 giây)
    ttl: 300

server:
  port: 8080
